@charset 'utf-8';

/* 全体 */
body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 24px;
}

p,
h2,
h3
{
  margin: 0;
}

.container {
  width: 400px;
  margin: 0 auto;
}

/* ヘッダ */
header {
  background: #efefef;
  padding: 32px;
}

header .container {
  display: flex;
  align-items: center;
}

header .icon {
  border-radius: 50%;
}

header div + div {
  margin-left: 32px;
}

header ul {
  list-style: none;
  display: flex;
}

header ul {
  margin: 0;
  padding: 0;
}

header ul li + li {
  margin-left: 8px;
}

/* main */
main h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 60px 0;
}

main h3 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 16px;
}



main p {
  line-height: 1.8;
  margin-top: 16px;
}

main img {
  border: 1px solid #000;
}

main section + section {
  margin-top: 60px;
}

/* footer */
footer {
  padding: 60px 0;
  color: #aaa;
  text-align: center;
}